{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>How to chat</h1>
  </div>
</header>

<section id="chatting" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 f2-s">
      <div class="mw-50-l mh2-l pt0 flex flex-column justify-start">
            <p>
              The Rust community uses various chat platforms to communicate
              an collaborate with each other. Because different working groups
              and teams use different channels, this page lists them for
              convenience and also shows how to join each of them.
            </p>
      </div>
  </div>
</section>

<section id="contribute-talk" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-l">
      <div class="mw-50-l mh2-l pt0 flex flex-column justify-start" id="mozilla-irc">
        <div>
          <h3>Mozilla IRC</h3>
          <p>
              Mozilla hosts their own IRC server that is home to many of the
              Rust and team channels. You can either use your own IRC client
              or connect via the provided <a href="https://thelounge.chat/">
                  Lounge</a> IRC client.
          </p>
          <p>
              The server is hosted at <code>irc.mozilla.org:+6697</code>
          </p>
          <ul>
              <li><a href="">#rust</a> - General chat channel</li>
              <li><a href="">#rust-beginners</a> - Beginner help channel</li>
              <li><a href="">#rust-offtopic</a> - Non-Rust related chat</li>
              <li><a href="">#rust-webdev</a> - General web development</li>
              <li><a href="">#rust-dev-tools</a> - General developer tools</li>
              <li><a href="">#rust-embedded</a> - Embedded development</li>
              <li><a href="">#rust-sci</a> - Scientific computing</li>
              <li><a href="">#rust-crypto</a> - Security and crypto libraries</li>
          </ul>
        </div>
        <a href="" target="_blank" rel="noopener" class="button button-secondary">Lounge IRC client</a>
      </div>

      <div class="mw-50-l mh2-l pt4 pt0-l flex flex-column justify-start" id="internals-forum">
        <div>
          <h3>Discord</h3>
          <p>
            Several of the Rust teams and working groups are hosted on the Discord
            server. For more information about what teams meet where, check out
            the teams pages.
            You will need to create a Discord account and optionally download the
            client to join the server.
          </p>
        </div>
        <a href="" target="_blank" rel="noopener" class="button button-secondary">Join Discord</a>

        <div style="height:2em"></div>

        <div>
          <h3>Zulip</h3>
          <p>
              As well as the IRC and Discord server, there is a Rust Zulip where some
              of the implementation teams have regular meetings, as well as some general
              language discussions.
          </p>
          <a href="" target="_blank" rel="noopener" class="button button-secondary">Join Zulip</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
